/* General formatting */

* {
    margin: 0;
    padding: 0;
}

/* Results formatting */

body {
    font-family: arial, sans-serif;
}

.narrowCentered {
    width: 1000px;
    margin: 20px auto 0;
    background-image: url("../img/bg.png");
    
    border: 3px solid #000;
    box-shadow: 5px 5px 5px #222;
}

.resultContainer {
    background-color: #FFF;
}

.centeredLogo {
    text-align: center;
}

.centeredLogo img {
    height: 100px;
    padding-top: 20px;
}

#resultTitle {
    font-size: 3.0em;
    color: #c0c0c0;
    font-weight: bold;
    padding: 0 10px 10px;
    
    height: 55px;    
    overflow: hidden;
}

#resultDisplay {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 65vh;
    min-height: 650px;
    
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.resultsItem0 {
    background-color: #FFF;
    padding: 10px;
}

.resultsItem1 {
    background-color: #E8E8FF;
    padding: 10px;
}

.resultsTitle a,
#loadMore {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: #1D2951;
}

.resultsTitle a:hover,
#loadMore:hover {
    text-decoration: underline;
}

.resultsSnippet {
    color: #404040;
    font-size: 0.9em;
}

.resultsFrom {
    color: #606060;
    font-size: 0.85em;
}

#loadMoreDiv {
    text-align: center;
    padding: 10px 0;
}